<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Speedr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B475B0781ECC9E3E00732B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B475B08C1ECC9E3F00732B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B475B0971ECC9E3F00732B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
